/*Typography*/

.headings {

    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.h1 {
    font-size: 28px;
    color: #8a8689;
    font-weight: bold;
}

.h2 {
    font-size: 20px;
    font-weight: bold;
}

.h3 {
    font-size: 18px;
    color: #8a8689;
}

.h4 {
    font-size: 16px;
}

.h5 {
    font-size: 14px;
    color: #8a8689;
}

.p {
    font-size: 14px;
    color: #8a8689;
    font-weight: normal;
}

.line {
    border-style: solid;
    border-width: 1px;
    border-color: #c99bc4;
    width:20%;
    background-position: center;
    background-repeat: no-repeat;
}

/*Typography*/


/*Contact Header*/

.p-1 .email-header {
    color: #c99bc4;
    text-decoration: none;
}

.p-1 .call-header {
    color: #c99bc4;
    text-decoration: none;
}

.p-1 .email-header:hover {
    color: #8a8689;
}

.p-1 .call-header:hover {
    color: #8a8689;
}

.p-1 .h5 {
    color: #c99bc4;
}

.p-1 .h5:hover {
    color: #8a8689;
}

/*Contact Header*/


/*--Navigation--*/

.nav-container {
    padding-right: 20px;
    padding-left: 0;
}

.navbar {
    background-color: #fff;
    padding: 0;
}

.navbar-brand {
    padding-left: 20px;
    padding-bottom: 20px;
    background-size: cover;
    width: 150;
    height: 150;
}

.navbar-nav {
    padding-right: 30px;
}

.nav-item {
    padding: 20;
}

.nav-link {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #8a8689!important;
    vertical-align: middle;
    padding-left: 30px!important;
}

.nav-link:hover {
    color: #c99bc4!important;
    transform: scale(1.25);
    transition: ease-in-out;
    transition-duration: 0.3s;
}

.navbar-light .navbar-toggler {
    padding-right: 30px;
    border: 0;
    font-weight: bold;
}

  .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
    color: #c99bc4;
  }

@media (max-width: 992px) {
    #navbarNavDropdown {
        text-align: center;
    }
}

/*--Navigation--*/


/*--Footer*/

.container-fluid .footer-container {
    display: inline-block;
    font-size: 0;
}

#footer {
    background-color: #d9dbda;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-button {
    position: relative;
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    vertical-align: middle;
    border: 3px solid #c99bc4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #c99bc4;
}

.footer-button .contact-link {
    text-decoration: none;
}

.footer-items {
    color: #fffafa;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
}

.footer-items:hover {
    color: #8a8689;
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.call-contact .h3 {
    color: #c99bc4;
    text-decoration: none;
}

.a .call-contact {
    text-decoration: none;
}

.email-contact .h3 {
    color: #c99bc4;
    text-decoration: none;
}

.a .email-contact {
    text-decoration: none;
}

.call-contact .h3:hover {
    color: #8a8689;
}

.email-contact .h3:hover {
    color: #8a8689;
}

.insta {
    color: #c99bc4;
    font-size: 20px;
}

.facebook {
    color: #c99bc4;
    font-size: 20px;
}

.insta:hover {
    color: #8a8689;
    text-decoration: none;
}

.facebook:hover {
    color: #8a8689;
    text-decoration: none;
}

/*--Footer*/


/*--Homepage Section 1 - Banner & Intro*/

.home-main-banner {
    max-width: 100%;
    height: 100%;
    padding: 0px 0px 20px;
    margin: 0;
    font-size: 0;
}

#home-main-intro {
    padding: 0;
    margin: 0;
}

.intro-section {
    padding: 0;
    width: 80%;
}

/*--End Homepage Section 1 - Banner & Intro*/


/*--Homepage Section 2 - Testimonials*/

#testimonial-carousel {
    display: block;
    padding: 0;
    font-size: 0;
    margin-bottom: 20px;
    height: 300px;
}

.carousel-image {
    height: 300px;
}

.carousel-caption {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 80%;
}

.carousel-heading {
    color: #8a8689;
    font-style: italic;
    font-weight: bolder;
}

.carousel-text {
    font-style: italic;
    font-weight: bolder;
}

.box {
    border: 0px transparent;
    border-radius: 50%;
    background-color: #fffafa;
    padding: 30px;
}

/*--End Homepage Section 2 - Testimonials*/


/*--Gallery--*/

.gallery-container {
    padding-bottom: 20px;
}

/*--End Gallery--*/


/*--Contact Page--*/

.contact-main-banner {
    max-width: 100%;
    padding: 0px 0px 20px;
    margin: 0;
    font-size: 0;
}

.contact-image {
    height: 420px;
}

.contact-intro {
    padding: 0;
    margin: 0;
}

.contact-container {
    width: 100%;
    padding-bottom: 20px;
    margin: 20px 0px;
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    background-color: #fffafa;
}

.row-top {
    padding-top: 40px;
}

.row-second-section  {
    padding-top: 20px;
}

.row-bottom {
    padding-top:20px;
}

.send-btn {
    vertical-align: middle;
    border: 3px solid #c99bc4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #c99bc4;
    color: #fffafa;
    font-weight: bolder;
}

.send-btn:hover {
    color: #8a8689;
    transform: scale(1.1);
    transition: ease-in-out;
    transition-duration: 0.5s;
}

.form-control::placeholder {
    font-family: Quicksand, 'sans-serif';
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color:#8a8689;
}

::-webkit-datetime-edit-text { 
    color: #8a8689; 
    padding: 0 0.3em; 
    text-transform: uppercase;
    font-family: Quicksand, 'sans-serif';
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    }

/*--End Contact Page--*/


/*--About Page--*/

.about-main-banner {
    max-width: 100%;
    padding: 0px 0px 20px;
    margin: 0;
    font-size: 0;
}

.about-image {
    height: 420px;
}

.about-container {
    margin-bottom: 20px;
}

.about-text {
    margin-right: 10px;
}

.about-heading {
    margin-bottom: 20px;
}

.about-photo {
    display:inline-block;
}

.ul{
    list-style: none;
}

.ul .li:before {

    background-color: #c99bc4;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 10px;
    width: 10px;
    content: "\f105";
}

/*--About Page--*/


/*--Services Page--*/

.services-container {
    
    width: 80%;
    margin-bottom: 50px;
    height:auto;
}

.services-main-banner {
    max-width: 100%;
    padding: 0px 0px 20px;
    margin: 0;
    font-size: 0;
}

.services-image {
    height:420px;
}
  
  
.services-heading {
    padding:0;
    margin:0;
}
  
  .card-img {
    width: 100%;
    height:100%;
    opacity: 0.1;
}

.card-img-overlay .card-title {
    font-weight: bolder;
    color: #c99bc4;
    margin-top: 120px;
}


.services-text {
    width:100%;
    background-color: #fffafa;
}


.list-inline {
    text-align: center;
    vertical-align: middle;
}

.list-inline-item {
    padding: 10px;
}

.pricing-row {
    height:auto;
}

/*--Services Page--*/